@using Ciber.Model
@model Customer

<form asp-controller="Access" asp-action="Login" method="post">
    <h1>Login</h1>
    <input type="text" placeholder="User Name" asp-for="UserName"/>
    <input type="password" placeholder="Password" asp-for="Password"/>
    <label>
        <input type="checkbox" asp-for="KeepLoggedIn"/>
        Keep Me Logged In
    </label>

    <button type="submit">Login</button>
    @if (ViewData["ValidateMessage"] != null)
    {
        <span>@ViewData["ValidateMessage"]</span>
    }
</form>
