@using Ciber.Model
@model Customer

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AccessLayout.cshtml";
}

<form asp-controller="Access" asp-action="Login" method="post">

    <div class="form-group">
        <label>Tài khoản</label>
        <input asp-for="UserName" type="text" class="au-input au-input--full" />
    </div>
    <div class="form-group">
        <label>Mật khẩu</label>
        <input asp-for="Password" type="password" class="au-input au-input--full" />
    </div>
    <label>
        <input type="checkbox" asp-for="KeepLoggedIn" />
        Keep Me Logged In
    </label>
    <button type="submit" class="au-btn au-btn--block au-btn--green m-b-20">Đăng nhập</button>


    @if (ViewData["ValidateMessage"] != null)
    {
        <span>@ViewData["ValidateMessage"]</span>
    }
</form>
