@model Ciber.Entity.News
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <strong>Cập nhật bài viết</strong>
    </div>
    <div class="card-body card-block">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">Tiêu đề</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Mô tả ngắn</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" asp-for="Image">Ảnh bài viết</label>
                <div class="col-md-10">
                    <input class="btn btn-info" type="file" name="file" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label">Nội dung bài viết</label>
                @Html.TextAreaFor(model => model.Content, new { @id = "ckeditor", @class = "form-control" })
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label">Tác giả</label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <button type="submit" value="Create" class="btn btn-primary btn-sm">
                <i class="fas fa-subway"></i> Hoàn tất
            </button>
        </form>
    </div>
</div>

@section Scripts{
    <script>
        CKEDITOR.replace("ckeditor");
        CKEDITOR.config.height = 700;
    </script>
}