
@{ ViewData["Title"] = "View";
                Layout = "~/Views/Shared/_ClientLayout.cshtml"; }
<div class="text-center" style="font-size:20px">
    <img style="width:300px" src="~/images/404/404.png" alt="404" />
    <h2 style="color:#f26522 ; font-weight:bold">Mã đơn hàng không đúng</h2>
    <p>
        Chúng tôi không tìm thấy mã đơn hàng của bạn trong hệ thống.
    </p>
    <p>
        Vui lòng kiểm tra lại mã đơn hàng.
    </p>
</div>
