@{
    ViewData["Title"] = "Thanh toán thành công";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<div class="bg-flashdeal" style="height:auto!important">
    <div class="section-brand-zone" style="padding-top:0px!important;">
        <div class="box-br">
            <h1 class="text-center">Xác nhận đặt hàng thành công</h1>
            <p class="text-center">
                Bạn đã đặt hàng thành công, đơn hàng đang được xử lý.
                Mã vận đơn <b style="color: red">22</b>
            </p>
        </div>
    </div>
</div>