@{
    ViewData["Title"] = "Về chúng tôi";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}
<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(/frontend/images/img_bg_1.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">
                        <h1>Giới thiệu</h1>
                        <h2>Trang chủ/ Về chúng tôi/ Giới thiệu</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div id="fh5co-about">
    <div class="container">
        <div class="about-content">
            <div class="row animate-box">
                <div class="col-md-6">
                    <div class="desc">
                        <h3>CÁ TRA DINH DƯỠNG VÀ THƠM NGON</h3>
                        <p>Chúng tôi cung cấp đến khách hàng sản phẩm cá tra với giá trị dinh dưỡng được bảo quản cao nhất và hương vị tươi ngon nhất có thể. Với vùng nuôi cá tra lớn nhất thế giới, chúng tôi có khả năng cung cấp đến một phần năm nhu cầu cá tra tiêu thụ toàn cầu. Gía trị mà NAVICO luôn hướng tới chính là “SỰ PHÁT TRIỂN BỀN VỮNG”.</p>
                    </div>
                    <div class="desc">
                        <h3>TỔNG QUAN</h3>
                        <p>NAVICO là doanh nghiệp sản xuất và xuất khẩu cá tra lớn thứ 2 trên thế giới với sự phấn đấu và nỗ lực không ngừng để vươn đến vị trí số 1</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive" src="~/frontend/images/img_bg_1.jpg" alt="about">
                </div>
            </div>
        </div>
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <span>CÂU CHUYỆN NAVICO</span>
                <h2>Nhắc đến câu chuyện về Tập đoàn Nam Việt thì phải bắt đầu từ nhà lãnh đạo đáng kính của chúng ta – Chủ tịch HĐQT kiêm TGĐ – ông Doãn Tới.</h2>
                <p>Đầu tiên, ông thành lập Công Ty TNHH Nam Việt hoạt động trong lĩnh vực xây dựng dân dụng và công nghiệp. Không dừng lại ở đó, nhận thấy tiềm lực của nền kinh tế thủy sản nước ta còn có thể phát triển, năm 2000 ông đã mạnh dạn đầu tư, mở rộng phạm vi hoạt động sang thị trường thủy sản. Đầu tiên là sự ra đời cuả Nhà Máy Đông Lạnh Nam Việt chuyên chế biến cá tra, ba sa. Đồng thời xây dựng vùng nuôi chủ động nguồn nguyên liệu đầu vào.

Không dừng lại ở mục đích góp phần thúc đẩy nền kinh tế nước ta, góp phần thay đổi cải thiện đời sống ngư dân. Ông còn mong muốn mang lại nguồn thực phẩm sạch nhất, tốt nhất, hướng tới giá trị dinh dưỡng, sức khỏe người tiêu dùng trong và ngoài nước. Nhằm tạo ra vòng tròn khép kín trong kinh doanh, trong quy trình sản xuất, nhằm hướng tới mục tiêu vì sức khỏe người tiêu dùng. Ông cùng toàn thể cán bộ – công nhân viên quyết tâm đồng loạt phát triển một loạt dự án. Khởi đầu là năm 2012 ông khai trương nhà máy thức ăn thủy sản với công suất hơn 200,000 Mts/năm.

Năm 2013 ông cho mở rộng vùng nuôi từ 100 ha lên 300 ha, có thể cung cấp hơn 120,000 MTs cá nguyên liệu trên năm. Đảm bảo được chất lượng nguồn nguyên liệu đầu vào.

Đến năm 2015 với hơn 20,000 cá bố mẹ, NAVICO có khả năng cung cấp 14 tỷ cá giống mỗi năm.

Và năm 2015 cũng là năm ông hoàn thành chuỗi sản xuất khép kín từ con giống, thức ăn, nuôi trồng thủy sản đến chế biến. Hoàn thành phần nào mục tiêu của mình! Và thành công luôn đến với những người không ngừng cố gắng.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
                <div class="fh5co-staff">
                    <img src="~/frontend/images/person1.jpg" alt="Free HTML5 Templates by gettemplates.co">
                    <h3>Ông. Đỗ Lập Nghiệp</h3>
                    <strong class="role">Chủ tịch Hội Đồng Quản Trị</strong>
                    <ul class="fh5co-social-icons">
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-dribbble"></i></a></li>
                        <li><a href="#"><i class="icon-github"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
                <div class="fh5co-staff">
                    <img src="~/frontend/images/person2.jpg" alt="Free HTML5 Templates by gettemplates.co">
                    <h3>Ông. Doãn Tới</h3>
                    <strong class="role">Phó chủ tịch Hội Đồng Quản Trị kiêm Tổng Giám Đốc</strong>
                    <ul class="fh5co-social-icons">
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-dribbble"></i></a></li>
                        <li><a href="#"><i class="icon-github"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
                <div class="fh5co-staff">
                    <img src="~/frontend/images/person3.jpg" alt="Free HTML5 Templates by gettemplates.co">
                    <h3>Ông. Nguyễn Văn Vỹ</h3>
                    <strong class="role">Phó Tổng Giám Đốc kiêm Giám Đốc khổi Nuôi trồng thủy sản</strong>
                    <ul class="fh5co-social-icons">
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-dribbble"></i></a></li>
                        <li><a href="#"><i class="icon-github"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
