@{
    ViewData["Title"] = "Về chúng tôi";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}
<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(/frontend/images/img_bg_1.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">
                        <h1>Giới thiệu</h1>
                        <h2>Trang chủ/ Về chúng tôi/ Giới thiệu</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div id="fh5co-services" class="fh5co-bg-section">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-4 text-center">
				<div class="feature-center animate-box" data-animate-effect="fadeIn">
					<span class="icon">
						<i class="icon-credit-card"></i>
					</span>
					<h3>Nhân viên kế toán</h3>
					<p>Mô tả: dự toán, kết toán thu chi</p>
					<p>Thu nhập: 7-15tr</p>
					<p>Số lượng: 1</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 text-center">
				<div class="feature-center animate-box" data-animate-effect="fadeIn">
					<span class="icon">
						<i class="icon-wallet"></i>
					</span>
					<h3>Thu ngân</h3>
					<p>Mô tả: nhận thanh toán, tổng hợp báo cáo</p>
					<p>Thu nhập: 7-15tr</p>
					<p>Số lượng: 2</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 text-center">
				<div class="feature-center animate-box" data-animate-effect="fadeIn">
					<span class="icon">
						<i class="icon-paper-plane"></i>
					</span>
					<h3>Nhân viên giao hàng</h3>
					<p>Mô tả: giao hàng cho khách</p>
					<p>Thu nhập: 7-9tr</p>
					<p>Số lượng: 4</p
				</div>
			</div>
			@*<div class="col-md-4 col-sm-4 text-center">
				<div class="feature-center animate-box" data-animate-effect="fadeIn">
					<span class="icon">
						<i class="icon-calendar"></i>
					</span>
					<h3>Quản lý cửa hàng</h3>
					<p>Mô tả: quản lý hoạt động cửa hàng</p>
					<p>Thu nhập: 12-15tr</p>
					<p>Số lượng: 1</p
				</div>
			</div>
			<div class="col-md-4 col-sm-4 text-center">
				<div class="feature-center animate-box" data-animate-effect="fadeIn">
					<span class="icon">
						<i class="icon-clapperboard"></i>
					</span>
					<h3>Nhân viên MKT</h3>
					<p>Mô tả: quản cáo, giới thiệu sản phẩm</p>
					<p>Thu nhập: 12-15tr</p>
					<p>Số lượng: 1</p
				</div>
			</div>
			<div class="col-md-4 col-sm-4 text-center">
				<div class="feature-center animate-box" data-animate-effect="fadeIn">
					<span class="icon">
						<i class="icon-drive"></i>
					</span>
					<h3>Vận hành</h3>
					<p>Mô tả: quản lý vận hành</p>
					<p>Thu nhập: 12-15tr</p>
					<p>Số lượng: 1</p
				</div>
			</div>*@
		</div>
	</div>
</div>
